@font-face {
  font-display: swap;
  font-family: 'robotoblack';
  font-style: normal;
  font-weight: bold;
  src: url('../assets/fonts/roboto-black-webfont.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'robotolight';
  font-style: normal;
  font-weight: 300;
  src: url('../assets/fonts/roboto-light-webfont.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'robotoregular';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/roboto-regular-webfont.woff2') format('woff2');
}
