// Colours

$theme: (
  colours: (
    primary: '#4b6cb7',
    secondary: '#182848',
    grad: 'linear-gradient(20deg, #4b6cb7, #182848)',
    white: '#ffffff'
  ),
  spacing: (
    gutter: '20px',
  )
);
