<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Page Description">
  <meta name="robots" content="index,follow,noodp">
  <meta name="theme-color" content="#ffffff">
  <link rel="icon" href="/build/favicon.ico">
  <link rel="manifest" href="/build/pwa-manifest.json">
  <title> {{title}} </title>
  {{{styles}}}

  {{#each stylesheets}}
    <link rel="preload" href="/build/{{this}}" as="style" onload="this.onload=null;this.rel='stylesheet'"  type="text/css">
  {{/each}}

  {{#each fonts}}
    <link rel="preload" href="/build/{{this}}" as="font" type="font/woff2" crossorigin="">
  {{/each}}

  <link rel="preload" href="https://cdn.polyfill.io/v2/polyfill.min.js?features=Promise,fetch,IntersectionObserver,HTMLPictureElement,Symbol,Object.assign,Number.isNaN,Promise.prototype.finally" as="script">

  {{#each scripts}}
    <link rel="preload" href="/build/{{this}}" as="script">
  {{/each}}

  {{#each stylesheets}}
    <link rel="stylesheet" href="/build/{{this}}" type="text/css"/>
  {{/each}}

  <script>
    var dataLayer = dataLayer || [];
  </script>
</head>
<body>
  {{{body}}}
  {{{windowStateScript}}}
  <script>
    (function() {
      'use strict';

      window.addEventListener('load', function() {
        window.performance.mark('mark_fully_loaded');
        window.performance.measure('measure_load_from_dom', 'domComplete', 'mark_fully_loaded');
        if ('serviceWorker' in navigator) {
          navigator.serviceWorker.register('/build/service-worker.js', { scope: '/' })
            .then(function (reg) {
              console.log('Service worker registered', reg);
            })
            .catch(function (err) {
              console.log('Error registering service worker', err);
            });
          }
        });
      }());
  </script>

  <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=Promise,fetch,IntersectionObserver,HTMLPictureElement,Symbol,Object.assign,Number.isNaN,Promise.prototype.finally" defer></script>

  {{#each scripts}}
    <script src="/build/{{this}}" defer></script>
  {{/each}}
</body>
</html>